In [19]:
#Import necessary libraries
import pandas as pd

In [20]:
#Data Ingestion
file_csv = 'D:/Data_engineering/usecase_01/sales_data_region_A.csv'
file_json = 'D:/Data_engineering/usecase_01/sales_data_region_B.json'
file_excel = 'D:/Data_engineering/usecase_01/sales_data_region_C.xlsx'

df_csv = pd.read_csv(file_csv)
df_json = pd.read_json(file_json)
df_excel = pd.read_excel(file_excel)

In [21]:
# List of DataFrames
dataframes = [df_csv, df_json, df_excel]

# Standardize column names and handle missing 'total_sales' in a loop
for df in dataframes:
    # Standardize column names (lowercase, no spaces)
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    # Fill missing 'total_sales' with 0
    df.fillna({'total_sales': 0}, inplace=True)

In [22]:
# Columns to be converted
date_column = 'date'
numeric_column = 'total_sales'

# Iterate over each DataFrame to convert columns
for df in dataframes:
    # Ensure the date column is in datetime format
    df[date_column] = pd.to_datetime(df[date_column])
    
    # Convert the total_sales column to numeric, forcing invalid values to NaN
    df[numeric_column] = pd.to_numeric(df[numeric_column], errors='coerce')

In [23]:
# Valid regions to filter
valid_regions = ['South', 'West', 'Northwest']

# Iterate over each DataFrame to validate the "region" column
for i, df in enumerate(dataframes):
    dataframes[i] = df[df['region'].isin(valid_regions)]

In [24]:
# Column to check for duplicates
duplicate_column = 'transaction_id'

# Iterate over each DataFrame to check for duplicates and remove them
for df in dataframes:
    df.drop_duplicates(subset=duplicate_column, keep='first', inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_13840\1689748281.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=duplicate_column, keep='first', inplace=True)

In [25]:
# Concatenate all DataFrames
df_unified = pd.concat([df_csv, df_json, df_excel], ignore_index=True)

In [26]:
# Save the final unified DataFrame to a CSV file
output_file = 'D:/Data_engineering/usecase_01/unified_sales_data.csv'
df_unified.to_csv(output_file, index=False)

In [27]:
# Display the first few rows of the unified data
df_unified.head()

,date,store_id,customer_id,payment_type,quantity_sold,unit_price,total_sales,transaction_id,city,region
0,2024-09-01,101,1001,Credit,5,50.0,250,5001,New York,East
1,2024-09-02,102,1002,Debit,3,60.0,180,5002,Los Angeles,West
2,2024-09-03,103,1003,Cash,1,55.0,55,5003,Chicago,Midwest
3,2024-09-04,104,1004,Credit,2,70.0,140,5004,Houston,South
4,2024-09-05,105,1005,Debit,4,45.0,180,5005,Phoenix,West

In [28]:
print(df_unified.dtypes)

date              datetime64[ns]
store_id                   int64
customer_id                int64
payment_type              object
quantity_sold              int64
unit_price               float64
total_sales                int64
transaction_id             int64
city                      object
region                    object
dtype: object

In [29]:
df_unified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            15 non-null     datetime64[ns]
 1   store_id        15 non-null     int64
 2   customer_id     15 non-null     int64
 3   payment_type    15 non-null     object
 4   quantity_sold   15 non-null     int64
 5   unit_price      15 non-null     float64
 6   total_sales     15 non-null     int64
 7   transaction_id  15 non-null     int64
 8   city            15 non-null     object
 9   region          15 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 1.3+ KB